{% extends 'base.html' %} {% block content %}

<div class="card text-center">
  <div class="card-header">
    <h1 class="display-4">Sign Up Complete</h1>
  </div>
  <div class="card-body">
    <!-- render modified signup form-->
    <p>Signup complete!</p>
    <a href="/login" target="blank"><strong>login</strong></a> here.
  </div>
</div>

<!-- -->
{% endblock %}
