{% extends 'base.html' %} {% block content %}

<div class="card text-center">
  <div class="card-header">
    <h1 class="display-4">Sign Up Currently Unavailable</h1>
  </div>
</div>

<!-- -->
{% endblock %}
