{% extends 'base.html' %} {% block content %}

<div class="card text-center">
  <div class="card-header">
    <h1 class="display-4">Log In</h1>
  </div>
  <div class="card-body">
    <!-- render modified signup form-->
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          
          {% for error in field.errors %}
            <p style="color: rgb(67, 201, 134)">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Sign up</button>
    </form>
    If you already have an account
    <a href="/login" target="blank"><strong>login</strong></a> instead.
  </div>
</div>

<!-- -->
{% endblock %}
