{% extends 'base.html' %} {% block content %}

<div class="card text-center">
  <div class="card-header">
    <h1 class="display-4">500 Error</h1>
  </div>
  <div class="card-body">
    <p>Internal Server Error.</p>
    <p>Go back to <a href="/">Home</a></p>
  </div>
</div>
{% endblock %}
