{% extends 'base.html' %} {% block head %} {% endblock %} {% block content %}

<div class="card text-center">
  <div class="card-header">
    <div class="row">
      <div class="col-1">
        <a class="btn btn-sm" href="/logout" role="button">Log Out</a>
      </div>
      <div class="col-11">
        <h1 class="display-4">Account</h1>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <caption>
        List of subscriptions
      </caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Account Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>WhatsBusy Premium</td>
          <td>{{status}}</td>
          <td>
            {% if status == 'canceled' %}
            <a
              class="btn btn-sm"
              href="{% url 'subscription:subscribe' stripe_id %}"
              role="button"
              >Subscribe</a
            >
            {% else %}
            <a
              class="btn btn-sm"
              href="{% url 'subscription:unsubscribe' stripe_id %}"
              role="button"
              >Unsubscribe</a
            >
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
