{% extends 'base.html' %} {% block content %}

<div class="card text-center">
  <div class="card-header">
    <h1 class="display-4">WhatsBusy</h1>
  </div>
  <div class="card-body">
    <p class="lead">
      a simple subscriptions manager web app built using Django + Bootstrap +
      PostgreSQL
    </p>
    <hr class="my-4" />
    <p>
      built for WhatsBusy hackathon
    </p>
    <hr class="my-4" />
    <p class="lead">
      <a class="btn btn-lg" href="/login" role="button">Log In </a>
      <a class="btn btn-lg" href="/accounts/register" role="button">Register</a>
    </p>
  </div>
</div>
{% endblock %}
