{% extends 'base.html' %} {% block content %}
<div class="card text-center">
  <div class="card-header">
    <h1 class="display-4">Log In</h1>
  </div>
  <div class="card-body">
    <!-- render built in authenticate form with csrf token-->
    <form method="POST">
      {% csrf_token %} {{form.as_p}}
      <button class="btn btn-lg" type="submit">
        Login
      </button>
    </form>
    Don't have an account?
    <a href="/accounts/register" target="blank"
      ><strong>register here</strong></a
    >!
  </div>
</div>
{% endblock %}
