html,
body {
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
  padding: 15%;
}

.my-4 {
  color: #008552;
}

.MyCardElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
  border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #9ebd13;
  border-radius: 15px;
  padding: 5px 12px;
  height: 44px;
  width: 100%;
  transition: box-shadow 0.2s ease;
  background: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.btn,
button {
  border: 2px solid #9ebd13;
  color: #9ebd13;
  text-transform: uppercase;
  background: transparent;
}

.btn:hover,
button:hover {
  border: 2px solid #008552;
  color: #008552;
  cursor: pointer;
}

#logout {
  margin-top: 1.5rem;
}
